
// Imports
@import "bower_components/bootstrap/less/variables";

@import "bower_components/snippet-ss/less/use";
@import "bower_components/snippet-ss/less/background";
@import "bower_components/snippet-ss/less/effects";

@import "./variables";
@import "./shared";

@import "./search-ui";
@import "./pagination-ui";

@import "./progress-cell";

.em-table {
  font-size: @font-size;
  color: @text-color;

  margin: 10px 0px;
  overflow: hidden;

  .table-header {
    .clear-fix;
  }

  .table-footer {
    .clear-fix;
  }

  .table-body{
    .force-scrollbar;

    border: 1px solid @border-color;
    border-radius: @border-radius;
    background-color: @table-bg;

    margin: 5px 0px;

    .data-availability-message {
      font-size: @font-size;
      text-align: center;
    }

    .table-scroll-body {
      //Adding this here will keep the column, and table background same white
      //making the UI look better when scroll bar is shown
      .dotted-bg;

      white-space: nowrap;
      font-size: 0; // If not set, each column will have a space in between

      .table-column {
        .use-border-padding-in-width-height;

        background-color: @table-bg;

        overflow: hidden;
        display: inline-block;
        min-width: 150px;

        &.inner {
          border-left: 1px solid @border-color;
        }

        // Just the shaded header
        .table-header-cell {
          background-color: @bg-grey;
          border-bottom: 1px solid @border-color;

          &.is-sorting {
            .animated-stripes;
          }
        }

        .header-body, .table-cell {
          font-size: @font-size;
          white-space: nowrap;
          text-overflow: ellipsis;

          overflow: hidden;

          height: 2.1em;
          padding: 5px;
        }

        .header-body {
          font-weight: bold;

          padding-right: 1em; // To compensate space occupied by sort/resize buttons
          position: relative; // So that buttons can be positioned

          .sort-icon {
            cursor: pointer;
            position: absolute;
            right: .5em;
            top: .6em;

            &:before, &:after {
              font-size: .5em;
              opacity: .5;
              position: absolute;
            }

            &:before {
              content: "\25B2";

              top: 0em;
              right: 0px;
            }

            &:after {
              content: "\25BC";

              top: 1em;
              right: 0px;
            }

            &.asc{
              &:before {
                display: none;
              }
              &:after {
                font-size: .7em;
                opacity: 1;
                top: .1em;
              }
            }

            &.desc {
              &:before {
                font-size: .7em;
                opacity: 1;
                top: .1em;
              }
              &:after {
                display: none;
              }
            }
          }

          .resize-column:after {
            content: "\22EE";
            cursor: col-resize;
            opacity: .3;

            position: absolute;
            right: 2px;
            top: 6px;
          }
        }

        .table-cell {
          &.bg-transition {
            -webkit-transition: background-color 500ms ease-out 500ms;
            -moz-transition: background-color 500ms ease-out 500ms;
            -o-transition: background-color 500ms ease-out 500ms;
            transition: background-color 500ms ease-out 500ms;
          }

          &.highlight {
            background-color: lighten(@brand-primary, 20%);
          }
          &.is-waiting {
            .animated-stripes;
          }
          &.inner {
            border-top: 1px dotted @border-color;
            margin-top: -1px;
          }
        }
      }
    }
  }
}
