{{input
  placeholder="Search..."
  enter="search"
  value=text
}}
<button type="button" {{action "search"}}>
  {{#if dataProcessor.isSearching}}
    Searching...
  {{else}}
    Search
  {{/if}}
</button>