<div class="header-body" {{action 'sort'}}>
  {{title}}
  {{#if tableDefinition.enableSort}}{{#if definition.enableSort}}
    <span class="sort-icon {{sortIconCSS}}"></span>
  {{/if}}{{/if}}
  {{#if tableDefinition.enableColumnResize}}{{#if definition.enableColumnResize}}
    <span class="resize-column" {{action 'startColResize' on="mouseDown"}}></span>
  {{/if}}{{/if}}
</div>