<div class="input-group {{_validRegEx 'has-error'}}">
  {{input
  class="form-control"
  placeholder=placeholder
  enter="search"
  value=_boundText
  }}
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" {{action "search"}}>
      Search
    </button>
  </span>
</div>