{{#if cellContent.isPending}}
  <i class="waiting"></i>&nbsp;
{{else}}
  {{#if cellContent.displayText}}
    {{cellContent.displayText}}
  {{else}}
    <span class="message">Not Available!</span>
  {{/if}}
{{/if}}