<div class="header-body">
  {{title}}
  {{#if tableDefinition.enableSort}}{{#if definition.enableSort}}
    <span class="sort-icon {{sortIconCSS}}" {{action 'sort'}}></span>
  {{/if}}{{/if}}
  {{#if tableDefinition.enableColumnResize}}{{#if definition.enableColumnResize}}
    <span class="resize-column" {{action 'startColResize' on="mouseDown"}}></span>
  {{/if}}{{/if}}
</div>