<h1><i>em-table</i> Demo</h1>

{{em-table columns=columns rows=rows rowCount=25}}

Without Search
{{em-table columns=columns rows=rows enableSearch=false rowCount=5}}

Without Sort
{{em-table columns=columns rows=rows enableSort=false rowCount=5}}

Without Pagination
{{em-table columns=columns rows=rows enablePagination=false rowCount=5}}
